@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body
{
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(#2b1055,#7597de);    
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
header .logo
{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    -webkit-text-stroke: 0.1vw #fff;
    animation: zoomy 4s ease-in-out infinite;
    
}
@keyframes zoomy
{
    0%, 100%
    {
        font-size: 2.2em;
    }
    50%
    {
        font-size: 2em;
    }
}
header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li
{
    list-style: none;
    margin-left: 20px;
}
header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}
header ul li a:hover,
header ul li a.active
{
    background: #fff;
    color: #551010;
}
section
{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
section::before
{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #1c0522,transparent);
    z-index: 1000;
}
section img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
section img#moon
{
    mix-blend-mode: screen; 
    size: 10;
}
section img#mountains_front
{
    z-index: 10; 
}
#text
{
    position: absolute;
    right: -350px;  
    color: #fff;
    white-space: nowrap;
    font-size: 7.5vw;
    z-index: 9;
}
#btn
{
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: #fff;
    color: #2b1055;
    font-size: 1.5em;
    transform: translateY(100px);

}
.sec
{
    position: relative;
    padding: 100px;
    background: #1c0522;
}
.sec h2
{
    font-size: 3em;
    margin-bottom: 50px;
    color: #1c0522;
    -webkit-text-stroke: 0.1vw #fff;
}
.sec h2::before
{
    content:attr(data-text);
    position: absolute;
    top: 100px;
    left: 100px;
    width: 40%;
    height: 6%;
    color: rgb(71, 218, 181);
    -webkit-text-stroke: 0vw #fff;
    border-right: 2px solid;
    overflow: hidden;
    display: inline-block;
    animation: animate 6s ease-in-out infinite;
}
@keyframes animate
{
    0%, 100%
    {
        width: 330px;
        border-right: 2px solid;
    }
    92%
    {
        width: 292px;
    }
    86%
    {
        width: 262px;
    }
    78%
    {
        width: 232px;
    }
    70%
    {
        width: 194px;
    }
    62%
    {
        width: 157px;
    }
    54%
    {
        width: 142px;
    }
    48%
    {
        width: 112px;
    }
    40%
    {
        width: 99px;
    }
    32%
    {
        width: 66px;
    }
    26%
    {
        width: 33px;
    }
    20%
    {
        width: 0px;
        border-right: 2px solid;

    }
    12%{
        border-right: 100px solid;
    }
      
}
.sec p
{
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #fff;
}
